* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E2C799;
}

nav {
    background: #9A3B3B;
}

.navbar {
    display: flex;
    justify-content: center;
    height: min-content;
    width: 100%;
}

.logoJudul {
    display: flex;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
}

.logo {
    width: 73px;
    height: 73px;
    flex-shrink: 0;
}

.judul {
    color: #FFF;
    font-family: 'Quando', serif;
    font-size: 3.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.selesai {
    color: #9A3B3B;
    text-align: center;
    font-family: Quando;
    font-size: 5.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 4rem;
}

.hasilNilai {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1.5rem;
    margin: 2rem;
}

.nilaiKamu {
    color: #9A3B3B;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nilai {
    color: #000;
    text-align: center;
    font-family: Quando;
    font-size: 8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pilihan {
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 2rem;
    margin-top: 5rem;
}

.pilihan>a {
    width: 17.125rem;
    height: 4.875rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #9A3B3B;
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.pilihan>a>p {
    margin-top: 0.8rem;
}


.oleh {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    margin-bottom: 0rem;
}